body {
    font-family: "Open Sans", sans-serif;
    color: #0c0c0c;
    background-color: #2f2519;
}
h2 {
    font-family: 'Dancing Script', cursive;
}
.quote{
    margin-top:170px;
    margin-left:30px;
    font-family:'Lucida Handwriting';
    font-size:17px;
    color:floralwhite;

}
.scnd {
    background-color: floralwhite;
    height: 720px;
    margin-top:30px;
    width:1310px;
}
.scndsub{
    display:flex;
    gap:160px;
    margin-left:100px;
    margin-right:100px;
    padding-top:70px;
    padding-bottom:10px;
}
.scndsub2 {
    display: flex;
    gap: 160px;
    margin-left: 103px;
    margin-right: 100px;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
}