
<!DOCTYPE html>
<html>
<head>
<style>
    .aboutimg{
        padding:40px;
        width:550px;
    }
</style>
</head>
<body style="background-color: #2f2519">
    @{
        ViewBag.Title = "About";
    }
    <div >
        <div style="display:flex;gap:30px;background-color:ghostwhite;padding:30px">
            <div>
                <div>
                    <img src="~/Content/About/aboutleft.jpg" class="aboutimg" />
                </div>
                <div>
                    <h1>About us</h1>
                    <p>
                        <h6> Welcome to Sweet Delights Bakery!</h6>
                        <p style="justify-content:space-around">
                        We create beautiful, delicious cakes for every occasion. Our bakery started in 2005 with a simple mission: to make people smile with our sweet treats.

                        We use only the finest ingredients. Each cake is crafted with love and attention towards in detail. From classic flavors to custom designs, we have something for everyone.

                        Our talented team includes expert bakers and decorators. They bring creativity and skill to every cake we make.<br />

                        Thank you for choosing Sweet Delights Bakery. We look forward to making your celebrations unforgettable!</p>
                    </p>
                </div>
            </div>
            <div>
                <h5>Our Values</h5>
                <p>
                    "We believe in using only the finest ingredients to ensure every bite is perfect.
                    Our goal is to make each cake a masterpiece, combining creativity with quality."
                </p>
                <p>
                    "Our cakes are baked fresh daily using top-quality ingredients. From classic recipes to custom designs,
                    we work closely with you to create the perfect cake for your occasion."
                </p>
            </div>
        </div>
      
        
    </div>
</body>
</html>