<!DOCTYPE html>
<html>
<head>

</head>
<body>
    @{
        ViewBag.Title = "Contact";
    }
    <div>
        <div>
            <h2>Contact Us</h2>
            <input type="text"  placeholder="First Name"/>
            <input type="text" placeholder="Last Name"/>
            <input type="email" placeholder="Email"/>
            <input type="number" placeholder="Phone number"/>
            <textarea>Message</textarea>
        </div>
    </div>
</body>
</html>

