<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/index.css" rel="stylesheet" />
   
</head>
<body>
    @{
        ViewBag.Title = "Home Page";
    }
    @*/***carousel*@
    <div>
        <div style="display:flex;gap:30px">
            <div class="quote">
                <h3><b>DELICIOUS CAKES</b></h3> 
                <p>"From Classic Favorites to Creative Creations – Discover the Perfect Cake for Any Occasion."</p>
            </div>
            <div>
                <img src="~/Content/Styles/frstslide.jpg" style="width:600px;height:540px"/>
            </div>
        </div>
        <div class="scnd">
            <div class="scndsub">
                <img src="~/Content/Styles/bday.jpg" />
                <img src="~/Content/Styles/wedding.jpg" />
                <img src="~/Content/Styles/cup.jpg" />
            </div>
            <div class="scndsub2">
                <h2>Birthday cakes</h2>
                <h2>Wedding cakes</h2>
                <h2>Cup Cakes</h2>
            </div>
        </div>
    </div>
   
</body>
</html>