<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/index.css" rel="stylesheet"/>
   
</head>
<body>
    @{
        ViewBag.Title = "Home Page";
    }
    @*/***carousel*@
    <div>
        <div style="display:flex;gap:30px">
            <div class="quote">
                <h3><b>DELICIOUS CAKES</b></h3> 
                <p>"From Classic Favorites to Creative Creations –<br /> Discover the Perfect Cake for Any Occasion."</p>
            </div>
            <div>
                <img src="~/Content/Styles/frstslide.jpg" style="width:600px;height:540px;margin-left:300px
"/>
            </div>
        </div>
        <div class="scnd">
            <div class="scndsub">
                <img src="~/Content/Styles/bday.jpg" />
                <img src="~/Content/Styles/wedding.jpg"  />
                <img src="~/Content/Styles/cup.jpg" />
            </div>
            <div class="scndsub2">
                <h2>Birthday cakes</h2>
                <h2 style="margin-left:218px;width:400px">Wedding cakes</h2>
                <h2 style="margin-right:190px">Cup Cakes</h2>
            </div>
            <div>
                <img src="~/Content/Styles/thirdslide.jpg" style="width:550px;height:300px;padding:33px;float:left" />
                <div>
                    <h2 style="padding:30px;color:goldenrod">About us</h2>
                    <h5><b> Welcome to CocoMoco – Where Every Slice is a Delightful Adventure!</b></h5>
                    <p style="justify-content:space-around">
                        At CocoMoco, we believe that cakes are more than just desserts; they are a celebration of life’s sweetest moments.
                        Founded with a passion for creating exceptional, mouth-watering cakes, CocoMoco is your go-to destination for a cake
                        experience that’s as unique and special as you are.
                    </p>
                </div>
                <button class="aboutbtn">Read More</button>
            </div>
        </div>
        <div class="third">
            <h2 style="color:white;text-align:center;padding:30px;">Products</h2>
            <div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3" >
                        <img src="~/Content/Products/pro1.jpg" class="cpro1"/>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <img src="~/Content/Products/pro2.jpg" class="cpro1"/>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <img src="~/Content/Products/pro3.jpg" class="cpro1"/>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <img src="~/Content/Products/pro4.jpg" class="cpro1"/>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:15px">
                        <img src="~/Content/Products/pro5.jpg" class="cpro1"/>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:14px;">
                        <img src="~/Content/Products/pro6.jpg" class="cpro1"/>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3"style="margin-top:15px">
                        <img src="~/Content/Products/pro7.jpg" class="cpro1"/>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3"style="margin-top:13px">
                        <img src="~/Content/Products/pro8.jpg" class="cpro1"/>
                    </div>
                </div>

            </div>
            <button class="probtn">View All products</button>
        </div>
        <div class="fourth">

        </div>
    </div>
   
</body>
</html>